<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="listContact">List Contact</mat-button-toggle>
  <mat-button-toggle value="addContact">Add Contact</mat-button-toggle>
</mat-button-toggle-group>

<form class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput />
  </mat-form-field>
</form>
